body
    background-color: #8cb1ffec
    font-family: sans-serif

header
    background: black
    height: 100px
    display: flex
    align-items: center
    .title
        color: #fff
        margin: 0 30px

    p
        color: #fff
    .header-menu
        list-style-type: none
        color: #fff
        display: flex
